<link rel="stylesheet" href="css/cont.css">
	<div class="contakt">
				 

			<div class="container-fluid"> <!--step 1-->
				<div class="row">
					<div class="col-xs-3 col-sm-6 col-md-7 col-lg-7 nav text-left hidden-sm hidden-xs">
					<nav id="menutop">	
					<ul >
						<li ><a href="#/home">Главная</a></li>
						<li><a href="#/catalog">Персонал</a></li>
						<li ><a href="#/contakt" class="active">Контакты</a></li>
						
						
						<!--<li><a href="">Мероприятия</a></li>-->
					</ul>
					</nav>
				</div>
					<div class="col-md-12 text-center m_logo hidden-sm hidden-xs">
						<a href="#/"> <img class="img-responsive" src="img/logo.png" alt=""></a>
					</div>
				</div>	
			</div>

			<div class="container-fluid"> <!--step 1-->
				<div class="row">
			  <!--Выбранный персонал hidden-->
				  	<div class="col-xs-1 col-sm-4 col-md-4 col-lg-4 hidden-sm hidden-xs" style="padding-top: 20px;">
				  		<hr>
				 	</div>
					<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 text-center">
					    <h2>Контакты</h2>		         	
					</div>
					<div class="col-xs-1 col-sm-4 col-md-4 col-lg-4 hidden-sm hidden-xs" style="padding-top: 20px;">
					    <hr>
					</div> 
				</div>
			</div>	


		<style> 
			ya-map {
				width: 100%;
				height: 30vh;
				display: block;
			}
			
		</style>

		<ya-map ya-zoom="11" ya-center="[37.635485,55.737451]" ya-controls="zoomControl ">
			<ya-geo-object ya-source="point"></ya-geo-object>
		</ya-map>	

		<div class="data_contakt">
			<p><img src="img/mobil.png" alt=""> : +7 (977) 389 59 35</p>
		<!--<p><img src="img/skype.png" alt=""> : dreamteam</p> -->
			<p><img src="img/email.png" alt=""> : Dream.team.model@gmail.com</p>
			<p><img src="img/address.png" alt=""> : г. Москва. ул. Большая татарская д.35. Офис 308, 308а</p>

		</div>
<!--
			<div class="container-fluid">
				<div class="row cont">
					<div class="col-xs-12 col-sm-12 col-md-12 text-center">
						<h3>Телефон : +3751231231</h3>
					</div>
					<div class="col-xs-12 col-sm-12 col-md-12 text-center">
						<h3>Skype : dreamteam</h3>
					</div>
					<div class="col-xs-12 col-sm-12 col-md-12 text-center">
						<h3>E-mail : dreamteam@gmail.com </h3>
					</div>
					<div class="col-xs-12 col-sm-12 col-md-12 text-center">
						<h3>Адрес: г. Москва ул. Первонародная д.14</h3>
					</div>
				</div>			
			</div>		
	</div>	-->	
	<footer>
		<div class="container-fluid s_6">
			<div class="">
				<div class="col-md-12">
					<img src="img/logo2.png" alt="" class="img-responsive">
					<h3>Разработка сайта - <span>dshop24.ru</span></h3>
				</div>		
			</div>
		</div>
	</footer>
	

			