 <link rel="stylesheet" href="css/cat.css">
 
<div class="set">
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12 m_logo text-center">
			<img src="img/logo.png" alt="">
		</div>
	</div>
</div>
<div class="container-fluid set_h2">
	<div class="row">
		<div class="col-md-4">
			<hr>
		</div>
		<div class="col-md-4 text-center">
			<h2>Модели - 3 шт.</h2>
		</div>
		<div class="col-md-4">
			<hr>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-6 text-center" style="padding: 0 0 10px 0;">
			<p><img src="img/model1.jpg" alt="" class="img-responsive"></p>
		</div>
		<div class="col-md-6 text-left">
			<h3>ДАша иванова</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam nemo laboriosam provident, non ad, at, quis delectus incidunt quaerat adipisci, beatae blanditiis? Facilis maiores natus modi nulla eius, earum veritatis?</p>
		</div>
	</div>	

	<div class="row">
	<slick lazy-load="ondemand" slides-to-show="5" slides-to-scroll="1" >
  		<div class="text-center">
			<p><img src="img/model1.jpg" alt="" class="img-responsive"></p>
		</div>
		<div class="text-center">
			<p><img src="img/model1.jpg" alt="" class="img-responsive"></p>
		</div>	
		<div class="text-center">
			<p><img src="img/model1.jpg" alt="" class="img-responsive"></p>
		</div>	
		<div class="text-center">
			<p><img src="img/model1.jpg" alt="" class="img-responsive"></p>
		</div>		
		<div class="text-center">
			<p><img src="img/model1.jpg" alt="" class="img-responsive"></p>
		</div>
		<div class="text-center">
			<p><img src="img/model1.jpg" alt="" class="img-responsive"></p>
		</div>
		<div class="text-center">
			<p><img src="img/model1.jpg" alt="" class="img-responsive"></p>
		</div>
		<div class="text-center">
			<p><img src="img/model1.jpg" alt="" class="img-responsive"></p>
		</div>
		<div class="text-center">
			<p><img src="img/model1.jpg" alt="" class="img-responsive"></p>
		</div>
	</slick>		
	</div>	
	<div class="row">
		<div class="col-md-12 text-center">
			<a href="" class="yellow_btn">Выбрать</a>
			<a href="" class="yellow_btn_right glyphicon glyphicon-plus"></a>
		</div>
	</div>
	
</div>
</div>


