<section class="first_screen">
    <div class="container-fluid">
        <div class="row">
            <slick infinite=true slides-to-show=1 slides-to-scroll=1 arrow=true dots=true>
                <div ng-repeat="image in ctrl.images" class="slides" style="background-image: url('{{image}}');">
                </div>

            </slick>
            <div class="titel_first_screen text-center">
                <h2>Наше агентство соберет для Вас персональную<br>команду сотрудников </h2>
                <h5>Свяжитесь с нами и расскажите о вашем мероприятии.<br>Наши опытные менеджеры предоставят Вам всех
                    необходимых людей.</h5>
                <button class="btn_yellow" ui-sref="dashboard.catalog">
                    Подобрать персонал
                </button>
                <button class="btn_yellow" ui-sref="dashboard.catalog">
                    <span class="fa fa-user" aria-hidden="true"></span>
                </button>
            </div>

        </div>
    </div>
</section>
<section class="our_model">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2>Наши модели</h2>

                <p>Вы можете создать команду мечты самостоятельно, <br>просто перейдите в каталог и сделайте свой выбор
                </p>
            </div>
        </div>
        <div class="row">
            <slick infinite=true slides-to-show=4 slides-to-scroll=1>
                <div class="col-md-3 fix_padding" ng-repeat="model in ctrl.models">
                    <img ui-sref="dashboard.model({id: model.id})" src="{{model.photo.medium}}" alt="" class="img-responsive">
                </div>
            </slick>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <button class="btn_grey" ui-sref="dashboard.catalog">
                    Перейти в каталог
                    <span class="fa fa-angle-right " aria-hidden="true"></span>
                </button>
            </div>
        </div>
    </div>
</section>
<section class="banner_specpred">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 text-center fix_padding">
                <h2>Спецпредложение</h2>

                <p>Вам нужны девушки-модели, встречающие гостей? А как же стилисты<br>и визажисты для них? Для случаев
                    заказа полного комплекта персонала <br>у нас предусмотрены скидки!</p>
                <img src="img/resources/img/main_set.jpg" alt="" class="img-responsive ">
                <button class="btn_yellow" ui-sref="dashboard.catalog">
                    Спецпредложение
                    <span class="" aria-hidden="true">!</span>
                </button>
            </div>
        </div>
    </div>
</section>
<section class="personal">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2>Персонал для мероприятий</h2>

                <p>С нашим агентство сотрудничают лучшие<br>профессионалы своего дела</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 menu_personal">
                <ul>
                    <li ng-repeat="work in ctrl.works">
                        <div class="cursor_pointer" role="button" data-toggle="collapse" href="#collapse_{{$index}}" aria-expanded="true" aria-controls="collapse_{{$index}}">
                            <span class="fa fa-angle-right fa-2x" aria-hidden="true"></span>
                                <a class="" ng-bind="work.name">
                                   Работы фотографов
                                </a>
                           <!-- <span class="fa fa-angle-down fa-2x" aria-hidden="true"></span> -->
                       </div>
                       <div class="main_collapse collapse" id="collapse_{{$index}}">
                           <ul>
                               <li ng-repeat="person in work.staff" ng-bind="person.name" ng-click="ctrl.worksPhotos = person.photos">Мария</li>
                           </ul>
                       </div>
                    </li>
                </ul>
            </div>
            <div class="col-md-9 personal_main">
                <div class="row">
                    <div class="col-md-3" ng-repeat="photo in ctrl.worksPhotos">
                        <img src="{{photo.medium}}" alt="" class="img-responsive">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="last_screen">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2>Затрудняетесь с выбором?</h2>
                <h5>Наше агентство соберет для Вас персональную<br>команду сотрудников</h5>
                <button class="btn_yellow" ui-sref="dashboard.catalog">
                    Подобрать персонал
                </button>
                <button class="btn_yellow">
                    <span class="fa fa-user" aria-hidden="true"></span>
                </button>
            </div>
        </div>
    </div>
</section>