h2 {
  font-family: "PermianSerifRegular",sans-serif; }

.contakt {
  background-color: #000;
  color: #fff;
  text-transform: uppercase;
  height: 100vh; }

.nav {
  z-index: 1;
  position: absolute;
  top: 20px;
  left: 0px; }
  .nav ul li {
    text-transform: uppercase;
    list-style-type: none;
    display: inline;
    padding-left: 10px; }
    .nav ul li a {
      color: #fff;
      border-bottom: 1px solid #fff;
      padding-bottom: 3px;
      padding-top: 3px; }
    .nav ul li .active {
      border-bottom: 1px solid #fff;
      border-top: 1px solid #fff; }

.m_logo img {
  padding-bottom: 50px;
  margin-top: 20px;
  margin: 0 auto;
  max-width: 165px;
  z-index: 1; }

.cont {
  margin-top: 50px; }
  .cont h3 {
    font-size: 2rem;
    padding-top: 0; }

.yellow_btn {
  background-color: #FFDB4B;
  text-transform: uppercase;
  color: #2a2a2a;
  padding: 8px 30px; }

.data_contakt {
  position: absolute;
  height: 200px;
  width: 300px;
  text-transform: none !important;
  top: 300px;
  z-index: 9999;
  background-color: #000;
  right: 30px;
  padding-top: 31px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 28px; }
  .data_contakt img {
    width: 22px; }

.s_6 {
  background-color: #000;
  min-height: 100px; }
  .s_6 img {
    max-width: 70px;
    float: left;
    padding-top: 30px;
    margin-left: 50px; }
  .s_6 h3 {
    padding-top: 30px;
    font-size: 12px;
    float: right;
    color: #2a2a2a; }
    .s_6 h3 span {
      color: #FFDB4B; }
