<section class="personal catalog">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2>Собери команду мечты!</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 menu_personal menu_catalog">
                <div class="tag">
                    <span class="title">Отобранны:</span>
                    <span ng-repeat="filter in ctrl.filters">{{filter.tagName}}
                    <span class="fa fa-times" ng-click="ctrl.removeFilterAndUpdate(filter.name)"></span></span>
                </div>
                <ul>
                    <li>
                        <div class="cursor_pointer" role="button" data-toggle="collapse" href="#collapse_1"
                             aria-expanded="true" aria-controls="collapse_1" ng-click="ctrl.handleFilter('models'); ctrl.addTemplate(false);">
                            <a class="">
                                Модели
                            </a>
                            <span class="fa fa-angle-down fa-2x" aria-hidden="true"></span>

                        </div>
                        <div class="filter collapse" id="collapse_1">
                            <div style="min-height:280px;">
                                <div class="one_filter text-center my_stars" >
                                    <p><a href="" ng-click="ctrl.handleFilter('models.stars')">Наши звезды</a></p>
                                </div>
                                <div class="one_filter">
                                    <p>Пол:</p>
                                    <ul>
                                        <li><a href="" ng-click="ctrl.handleFilter('models.male')">Парни</a></li>
                                        <li><a href="" ng-click="ctrl.handleFilter('models.female')">Девушки</a></li>
                                    </ul>
                                </div>
                                <div class="one_filter">
                                    <p>Рост:</p>
                                    <rzslider rz-slider-model="ctrl.slider.minValue"
                                              rz-slider-high="ctrl.slider.maxValue"
                                              rz-slider-options="ctrl.slider.options"></rzslider>
                                    <!--<ul>
                                        <li><a href="">от 175 см</a></li>
                                        <li><a href="">до 175 см</a></li>
                                    </ul>-->
                                </div>
                                <div class="one_filter" style="border-bottom: none;">
                                    <p>Цвет волос:</p>
                                    <ul>
                                        <li><a href="" ng-click="ctrl.handleFilter('models.hair.blond')">Блондинки</a>
                                        </li>
                                        <li><a href="" ng-click="ctrl.handleFilter('models.hair.dark')">Шатенки</a></li>
                                        <li><a href="" ng-click="ctrl.handleFilter('models.hair.red')">Рыжие</a></li>
                                    </ul>
                                </div>

                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="cursor_pointer" ng-click="ctrl.handleFilter('photographs'); ctrl.addTemplate(true)">
                            <a href="">Фотографы</a>
                            <!-- <span class="fa fa-angle-down fa-2x" aria-hidden="true"></span> -->
                        </div>
                    </li>
                    <li>
                        <div class="cursor_pointer" ng-click="ctrl.handleFilter('stylists'); ctrl.addTemplate(true)">
                            <a href="">Стилисты</a>
                            <!-- <span class="fa fa-angle-down fa-2x" aria-hidden="true"></span> -->
                        </div>
                    </li>
                    <li>
                        <div class="cursor_pointer" ng-click="ctrl.handleFilter('visagiste'); ctrl.addTemplate(true)">
                            <a href="">Визажисты</a>
                            <!-- <span class="fa fa-angle-down fa-2x" aria-hidden="true"></span> -->
                        </div>
                    </li>
                    <li>
                        <div class="cursor_pointer" ng-click="ctrl.handleFilter('keytring'); ctrl.addTemplate(true)">
                            <a href="">Кейтеринг</a>
                            <!-- <span class="fa fa-angle-down fa-2x" aria-hidden="true"></span> -->
                        </div>
                    </li>
                    <li>
                        <div class="cursor_pointer" ng-click="ctrl.handleFilter('staff'); ctrl.addTemplate(true);" role="button" data-toggle="collapse" href="#collapse_2" aria-expanded="true" aria-controls="collapse_2">
                            <a href="">Staff</a>
                            <span class="fa fa-angle-down fa-2x" aria-hidden="true"></span>
                        </div>
                        <div class="filter collapse" id="collapse_2"> 
                            <ul class="staff_ul">
                                <li><a href="" ng-click="ctrl.handleFilter('staff.barman'); ctrl.addTemplate(true)">Бармены</a></li>
                                <li><a href="" ng-click="ctrl.handleFilter('staff.waiter'); ctrl.addTemplate(true)">Официанты</a></li>
                            </ul>
                        </div>
                    </li>
                    <li> 
                        <div class="cursor_pointer" ng-click="ctrl.handleFilter('set'); ctrl.addTemplate(false);">
                            <a href="">Спецпредложения</a>
                            <!-- <span class="fa fa-angle-down fa-2x" aria-hidden="true"></span> -->
                        </div>
                    </li>
                </ul>
                <div class="manager text-center hidden-xs hidden-sm">
                    <h4>Ваш Event - менеджер</h4>

                    <p style="padding-bottom: 10px; float:none;">Для уточнения информации свяжитесь с ивент-менеджером</p>
                    <img src="img/resources/img/event.jpg" alt="" class="img-responsive" style="margin:0 auto; border-radius: 50%; width: 60%;">
                    <ul class="text-center">
                        <li>Наталия</li>
                        <li>+7 (977) 389 59 35</li>
                        <li>Dream.team.model@gmail.com</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-9 catalog_model" ng-show="!ctrl.showOthe">
                <div class="row" >
                    <div class="col-md-3" ng-repeat="person in ctrl.modelShow | limitTo: ctrl.rootScope.showItem" ng-show="!ctrl.showSets">
                        <div ng-show="person.type == 'staff'">
                            <img src="{{person.photo.small}}" alt="" class="img-responsive foto_model"
                                 ui-sref="dashboard.model({id: person.id})">

                            <div class="btn_group">
                                <choose-button person="person"></choose-button>
                            </div>
                            <h5 ui-sref="dashboard.model({id: person.id})">{{person.name}}<br> ID: {{person.dt_id}}</h5>
                        </div>
                    </div>    
                    <div class="col-md-12 set" ng-repeat="person in ctrl.filteredStaff " ng-show="ctrl.showSets">
                        <div class="row" ng-show="person.type == 'suites' && ctrl.showSets">
                            <div class="col-md-12" style="padding-bottom: 20px;">
                                <h4 class="left" ng-bind="person.name">Для презентации</h4>
                                <h4 class="right"><span>Скидка</span> -{{person.discount}}%</h4>
                            </div>
                            <div class="col-md-6" ng-repeat="block in person.staff">
                                <p ng-bind="block.name">Модели</p>

                                <div class="row">
                                    <div class="col-md-4 col-xs-6" ng-repeat="model in block.persons">
                                        <img src="{{model.photo.medium}}" alt="" class="img-responsive">
                                        <h5>{{model.name}}<br> ID: {{model.id}}</h5>
                                    </div>
                                </div>

                            </div>

                            <div class="col-md-12 text-center">
                                <choose-button person="person"></choose-button>
                            </div>
                        </div>
                    </div>    
                        
                    <div class="col-md-12 text-center " ng-show="!ctrl.showSets">
                        <!-- <button class="btn_yellow" ng-click="ctrl.showItemAdd()">Показать еще</button> -->
                        <button class="btn_yellow_border_none" ng-click="ctrl.paginationGet(ctrl.currentPage-1)"><</button>
                        <button class="btn_yellow" >{{ctrl.currentPage}}</button>
                        <button ng-show="ctrl.currentPage+1 <= ctrl.filteredStaff.length ? 'true':'false'" class="btn_yellow_border_none" ng-click="ctrl.paginationGet(ctrl.currentPage+1)">></button>
                    </div>
                </div>

            </div>
            <div class="col-md-9 catalog_model" ng-show="ctrl.showOthe">
                <div class="row">
                    <div class="col-md-12 otherModel" ng-repeat="person in ctrl.filteredStaff">
                        <div ng-show="person.type == 'staff'" class="row">
                            <div class="col-md-12 text-center">
                                
                            </div>
                            <div class="col-md-4">
                                
                                <img src="{{person.photo.small}}" alt="" class="img-responsive foto_model"
                                 ui-sref="dashboard.model({id: person.id})"
                                 style="">
                            </div>
                            <div class="col-md-8 info_other">
                                <h3>{{person.name}}</h3>
                                <!-- <ul>
                                    <li ng-bind="'Рост: ' + ctrl.person.height"></li>
                                    <li ng-bind="'Параметры: ' + ctrl.person.measurements"></li>
                                    <li ng-bind="'Цвет волос: ' + ctrl.person.hair_color"></li>
                                </ul> -->
                                <div class="btn_group">
                                    <button class="btn_yellow" ui-sref="dashboard.model({id: person.id})">Портфолио</button>
                                    <choose-button person="person"></choose-button>
                                    
                                 </div>
                                 
                            </div>
                            <div class="col-md-12">
                                <slick infinite=true slides-to-show=4 slides-to-scroll=1  responsive="ctrl.responsive">
                                    <div ng-repeat="photo in person.photos"><img  src="http://dt-agency.ru{{photo.medium}}" class="img-responsive" style="width: 95%;"></div>
                                 </slick>
                            </div>
                            <!-- <div class="col-md-12">
                                <img src="http://dream-team-staging.dshop24.ru{{person.photos[0].medium}}" alt="">
                            </div>
 -->                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
