@font-face {
  font-family: "PermianSans";
  font-style: normal;
  font-weight: normal;
  src: url("fonts/PermianSansRegular.ttf") format("truetype");
}
@font-face {
  font-family: "PermianSans";
  font-style: normal;
  font-weight: bold;
  src: url("fonts/PermianSansBold.ttf") format("truetype");
}
@font-face {
  font-family: "PermianSerif";
  font-style: normal;
  font-weight: normal;
  src: url("fonts/PermianSerifRegular.ttf") format("truetype");
}
@font-face {
  font-family: "PermianSerif";
  font-style: normal;
  font-weight: bold;
  src: url("fonts/PermianSerifBold.ttf") format("truetype");
}

@font-face {
  font-family: "RobotoRegular";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/RobotoRegular");
}