.first_screen {
	.titel_first_screen {
		position: absolute;
		top: 200px;
		z-index: 100;
		width: 100%;
		h2,h5 {
			padding-bottom: 40px; 
			color: #fff;
		}
	}
	.slides {
		height: 100vh;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
	}
}
.our_model {
	h2 {
		padding: 40px 0 10px 0; 
	}
	p {
		padding-bottom: 50px;
		color: $grey;
	}
	
	.btn_grey {
		margin: 40px 0;
		span {
			border: 1px solid $yellow;
			color: $yellow;
			padding: 5px 10px;
			margin-left: 5px;
		}
	}
}
.banner_specpred {
	background-color: #f5f5f5;
	h2 {
		padding: 40px 0 10px 0; 
	}
	p {
		padding-bottom: 50px;
		color: $grey;
	}
	.btn_yellow {
		margin: 40px 0;
		span {
			padding: 1px 10px;
			border: 1px solid #000;
			margin-left: 5px;
		}
	}
}
.personal {
	padding-bottom: 50px;
	h2 {
		padding: 40px 0 10px 0; 
	}
	p {
		padding-bottom: 50px;
		color: $grey;
	}
	.menu_personal {
		li {
			padding: 5px 0;
			border-bottom: 1px solid #e1e1e1;
			a {
				color: #000;
				text-transform: uppercase;
			}
			span {
				float: right;
			}
		}
		.main_collapse {
			background-color: #F1F1F1;
			margin: 10px 0;
			ul {
				li {
					padding: 5px;
					border-bottom: none;
					font-size: 1.3rem;
					text-transform: uppercase;
					cursor: pointer;
				}
			}
		}
		
	}
	.personal_main {
		img {
			margin: 0 auto;
		}
	}
}
.last_screen {
	background-image: url(img/resources/img/bottom_bg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	height: 500px;
	h2 {
		padding: 100px 0 10px 0; 
		color: #fff;
	}
	h5 {
		padding-bottom: 50px;
		color: #fff;
	}
}
