@media only screen and (max-width : 992px) { 
	.catalog .catalog_model .btn_group {
		left: 45%;
	}
	.cart {
		padding: 200px 0;
		.form input, .form select, .form textarea {
			width: 80%;
		}
		
	}
}
@media only screen and (max-width : 725px) {
	.contacts  {
		padding-top: 200px;
	}
	.contacts .contacts_date {
		position: relative;
		top:0;
		padding:0 28px 0 20px;
		height: auto;
	}
	
	.model {
    	padding: 150px 0 !important;
	}
	.catalog {
		padding-top: 200px;
	}
	header .logo {
		display: block;
		
	}
	header ul {
	    display: block;
	    position: relative;
	    top: 0;
	    text-align: center;
	    padding-top: 20px;
	}
	
	header .basket {
	    float: right;
	    margin: 24px 75px;
	    position: absolute;
	    top: 30px;
	    right: 30px;
	    margin: 0;
	}
	header.black .basket {
    	margin: 0;
	}

}